{{ $rows := .Get "rows" | default "1" }}
<div class="hextra-cards mt-4 gap-4 grid not-prose" style="--rows: {{ $rows }}; margin-right: 60px;">
    {{- $context := . -}}
    {{ $colors := slice "#00D5FF" "#FC3600" "#EF2EC6" "#FCDB05" "#3BF959" }}
    {{ range $index, $page := .Page.Pages }}
    {{- $link := $page.Permalink -}}
    {{- $title := $page.Title -}}
    {{- $icon := "document" -}}
    {{- $section := $page.Section -}}

    {{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}

    <a class="hextra-card group flex flex-col justify-start overflow-hidden rounded-xl border hx-border-gray-200 text-current no-underline dark:hx-shadow-none hover:hx-shadow-gray-100 dark:hover:hx-shadow-none hx-shadow-gray-100 active:shadow-sm active:hx-shadow-gray-200 transition-all duration-200 hover:hx-border-gray-300 bg-transparent shadow-sm dark:hx-border-neutral-800 hover:hx-bg-slate-50 hover:shadow-md dark:hover:hx-bg-neutral-900"
        style="--border-color: {{ index $colors (mod $index (len $colors)) }}; border: 6px solid var(--border-color);"
        {{- if $link -}} href="{{ $href }}" {{- end -}}
    >
        <span
            class="flex font-semibold items-start gap-2 p-4 hextra-card-title"
            style="color: white; padding: 30px;">
            {{- with $icon }}
                <span class="hextra-card-icon transition-colors duration-200 group-hover:text-white"
                    style="--color: {{ index $colors (mod $index (len $colors)) }}; color: var(--color);"
                >
                    {{ partial "utils/icon.html" (dict "name" $icon "color" (index $colors (mod $index (len $colors)))) -}}
                </span>
            {{- end -}}
            {{- $title -}}
        </span>
    </a>
    {{- /* Strip trailing newline. */ -}}
    {{ end }}

</div>